[pager]
   branch = false
[core]
    editor = nvim
[user]
    name = tienvu461 
    email = tienvu461@gmail.com
[alias]
    s = status
    ba = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
    undo = reset HEAD~1 --mixed
    lg = !git log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -30
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    ; adog = log --all --decorate --oneline --graph
    adog = log --all --decorate --oneline --graph --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -30
    url =! bash -c 'git config --get remote.origin.url | sed -E "s/.+:\\(.+\\)\\.git$/https:\\\\/\\\\/github\\\\.com\\\\/\\\\1/g"'
    last = show --stat --oneline HEAD^^..HEAD
    recent = "!git for-each-ref --sort=-committerdate refs/heads/ --format='%(committerdate:short) %(refname:short)' | head -n 10"
	co = checkout
	cob = checkout -b
	coo = !git fetch && git checkout
	aa = add -A .
	cm = commit -m
	aacm = !git add -A . && git commit
	aacm = !git add -A . && git commit -m
	po = push origin
	pu = !git push origin `git branch --show-current`
	f = "!git ls-files | grep -i"
	gr = grep -Ii
	la = "!git config -l | grep alias | cut -c 7-"

